#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 50px;
}

.btnOpt,
.tous {
    height: 37px;
    background: white;
    border: 1px solid #1d6154;
    border-radius: 60px;
    color: #1d6154;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
    padding: 0 18px;
    font-family: 'Syne';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    font-style: normal;
}

.btnOpt:hover {
    background-color: #1D6154;
    color: white;
}

.tous:hover {
    background-color: #1D6154;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}